<table>
	<tr>
		<td>Name</td>
		<td>{{toTitleCase Name}}</td>
	</tr>
	<tr>
		<td>Location</td>
		<td>{{toTitleCase Location}}</td>
	</tr>
	<tr>
		<td>Languages</td>
		<td>{{formatLanguages Languages}}</td>
	</tr>
</table>