<!DOCTYPE html>
<html>
<head>
	<title>Festember 2015 | SnapChallenge!</title>
	<link rel="stylesheet" type="text/css" href="stylesheets/main.css">
</head>
<body>
	
	<h1>Your selfie is with us. Soon it'll be with everyone!</h1>

	<a href=".">Upload one more!</a>
</body>
</html>